
.mask-custom {
	background: black;
	color: #54B4D3;
	border-radius: 1rem;
	border: 2px solid;
}

.custom-stack {
	overflow: auto;
	max-height: 70vh;
}

.custom-stack::-webkit-scrollbar {
	display: none;
}

.custom-card-body {
	overflow: auto;
	max-height: 70vh;
}

.custom-card-body::-webkit-scrollbar {
	display: none;
}

.custom-dropdown {
	display: inline-block;
}

.custom-dropdown .dropdown-toggle::after {
	display: none;
}


.modal-content {
	border: 2px solid #54B4D3;
	border-radius: 7px;
  }