<<<<<<< HEAD
navbar-link-right {
    float: right;
    margin-right: 0;
=======
/* navbar-link-right {
    float: right;
    margin-right: 0;
} */

/* .centered-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: center;
    align-items: revert;
    height: 100vh;
  } */

.vstack {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  align-self: stretch;
  align-content: stretch;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.scol {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 10%;
  max-width: 41.666667%;
}

.img-style {
  background-size: 32px 32px;
  border: 0;
  border-radius: 50%;
  margin: auto;
  position: relative;
  height: 32px;
  width: 32px;
  z-index: 0;
>>>>>>> main
}