/* *
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	background-color: black;
	color: white;
} */

canvas
{
	width: 650px;
	height: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	border: 1px solid #ccc; /*kenarlık*/
	border-radius: 5px; /*kenar yuvarlatma*/
	box-shadow: 2px 2px 120px rgba(255, 255, 255, 0.7); /*gölge efekti*/
	transform: translate(-50%, -50%);
	border: 3px solid white;
	display: none;
}

#lobi-container {
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	align-items: flex-start;
}

#lobi-container h1 {
	font-size: 20px;
	margin-bottom: 10px;
}

.room-button {
	padding: 20px;
	background: linear-gradient(to right, #6eb76cec, #169a0dd6, #043906);
	color: white;
	cursor: pointer;
	border-radius: 12px;
	margin-bottom: 50px;
}

.random-room-button {
	position: relative;
	left: 44%;
	padding: 50px;
	width: 300px;
	background: linear-gradient(to right, #4d8d4cd4, #16ab0bd6, #0b510d, #16ab0bd6, #4d8d4cd4);
	background-size: 1250% auto;
	color: white;
	border: none;
	border-radius: 12px;
	margin-bottom: 18px;
	animation: gradientAnimation 10s linear infinite;
	display: block;
}


.mainText {
	content: "Winx Club";
	position: absolute;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 15%;
	right: 45%;
	width: 225px;
	height: 100px;
	padding: 20px;
	background: linear-gradient(to right, #cfcdcdae, #706666a0, #1d1919ef, #706666a0, #cfcdcdae);
	background-size: 500% auto;
	color: white;
	border: none;
	border-radius: 12px;
	margin-bottom: 50px;
	animation: gradientAnimation 12s linear infinite;
	display: none;
}

.clasic-mod {
	position: absolute;
	top: 90px;
	padding: 20px;
	background: linear-gradient(to right, #7b733ebc, #b9aa23e7, #e9e504);
	background-size: 200% auto;
	color: rgb(0, 0, 0);
	border: none;
	border-radius: 12px;
	margin-bottom: 50px;
	animation: gradientAnimation 5s linear infinite;
	display: none;
}

.fast-mod {
	position: absolute;
	top: 90px;
	left: 135px;
	padding: 20px;
	background: linear-gradient(to right, #a1252570, #831616d6, #df0606);
	background-size: 200% auto;
	color: rgb(255, 255, 255);
	border: none;
	border-radius: 12px;
	margin-bottom: 50px;
	animation: gradientAnimation 5s linear infinite;
	display: none;
}

@keyframes gradientAnimation {
	0% { background-position: 0% }
	100% { background-position: 100% }
}

#buton-div button {
	top: 50px;
	right: 50px;
	padding: 12px 24px;
	font-size: 26px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 25px;
	display: none;
  }

.button-container {
	position: fixed;
	top: 75px;
	right: 75px;
  }  

.button {
	position: fixed;
	display: inline-block;
	right: 30px;
	top: 75px;
	border-radius: 4px;
	background-color: rgb(6, 156, 249);
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	padding: 20px;
	width: 150px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
  }
  
.button:before {
	content: "you shouldn't press button";
	position: absolute;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-color: rgb(6, 156, 249);
	opacity: 0;
	transition: opacity 0.5s;
  }
  
.button:hover:before {
	opacity: 1;
  }
  
.button:hover {
	transform: translate(15px, 15px);
  }
  
.button:active {
	animation: rotate 1s linear infinite;
  }
  
  @keyframes rotate {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }

  .countdown {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 48px;
      font-weight: bold;
      color: #000000;
    }




	.background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	
	@keyframes animateBackground {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
	
	.background {
		animation: animateBackground 10s linear infinite;
		background: linear-gradient(to right, #ff9966, #ff5e62);
		background-size: 200% 200%;
	}
	
	.content {
		position: relative;
		z-index: 1;
		text-align: center;
		margin-top: 200px;
	}
	
	h1, p {
		color: #fff;
		font-family: Arial, sans-serif;
	}

	.sallanan-buton {
		position: fixed;
		left: 50%;
		animation: salla 1s infinite ease-in-out;
		transform-origin: center;
	  }
	  
	  @keyframes salla {
		0% {
		  transform: rotateY(0deg);
		}
		25% {
		  transform: rotateY(-20deg);
		}
		50% {
		  transform: rotateY(20deg);
		}
		75% {
		  transform: rotateY(-20deg);
		}
		100% {
		  transform: rotateY(0deg);
		}
	  }

